* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

/* Class Sections Setup */
.traffic-header h3,
.daily h3,
.mobile h3,
.social h3,
.members h3,
.activity h3,
.message h3,
.settings h3 {
    font-size: 1.1rem;
    margin-left: 10px;
}

/* Grid Layout */
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "navigation"
        "main";
}

.grid-header {
    height: 65px;
    background-color: rgb(173, 98, 98);
    align-items: center;
    grid-area: header;
}

h1 {
    font-size: 20px;
    margin-right: auto;
    margin-left: 10px;
}